<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <ul>
                @foreach (var item in ViewBag.one)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <li>...all leagues where sport is any type of hockey</li>
            <ul>
                @foreach (var item in ViewBag.two)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <ul>
                @foreach (var item in ViewBag.three)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <li>...all leagues that call themselves "conferences"</li>
                        <ul>
                @foreach (var item in ViewBag.four)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <li>...all leagues in the Atlantic region</li>
            <ul>
                @foreach (var item in ViewBag.five)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <li>...all teams based in Dallas</li>
            <ul>
                @foreach (var item in ViewBag.six)
                {
                    <li>@item.TeamName</li>
                }
            </ul>
            <li>...all teams named the Raptors</li>
            <ul>
                @foreach (var item in ViewBag.seven)
                {
                    <li>@item.TeamName, @item.Location</li>
                }
            </ul>
            <li>...all teams whose location includes "City"</li>
            <ul>
                @foreach (var item in ViewBag.eight)
                {
                    <li>@item.TeamName, @item.Location</li>
                }
            </ul>
            <li>...all teams whose names begin with "T"</li>
            <ul>
                @foreach (var item in ViewBag.nine)
                {
                    <li>@item.TeamName</li>
                }
            </ul>
            <li>...all teams, ordered alphabetically by location</li>
            <ul>
                @foreach (var item in ViewBag.ten)
                {
                    <li>@item.TeamName, @item.Location</li>
                }
            </ul>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <ul>
                @foreach (var item in ViewBag.eleven)
                {
                    <li>@item.TeamName</li>
                }
            </ul>
            <li>...every player with last name "Cooper"</li>
            <ul>
                @foreach (var item in ViewBag.twelve)
                {
                    <li>@item.FirstName, @item.LastName</li>
                }
            </ul>
            <li>...every player with first name "Joshua"</li>
            <ul>
                @foreach (var item in ViewBag.thirteen)
                {
                    <li>@item.FirstName, @item.LastName</li>
                }
            </ul>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <ul>
                @foreach (var item in ViewBag.fourteen)
                {
                    <li>@item.FirstName, @item.LastName</li>
                }
                </ul>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
                <ul>
                @foreach (var item in ViewBag.fifteen)
                {
                    <li>@item.FirstName, @item.LastName</li>
                }
                </ul>
        </ol>
    </div>
</div>